/* ------------ navbar ------------ */

.nav-wrapper {
    /* background-color: rosybrown; */
    /* background-color: rgb(234, 199, 255); */
    background-color: rgb(95, 170, 222); /* light pastel blue */
}

.login {
  text-align: right;
} 

.container{
    /* margin: 0;
    padding: 0;
    width: 100%; */
}

.panel {
    align-items: center;
    margin: 0 0px 5px 0px;
    padding: 0;
}

.row-button {
    width: 100%;
    align-items: center;
}

.col-button {
    padding: 0;
}

.button1 {
    /* width: 165px; */
    width: 100%;
    padding: 0;
    margin: 10px 0px;
}

.button2 {
    /* width: 80px; */
    width: 100%;
    padding: 0;
    margin: 10px 0;
}

.button1 i {
    padding: 0 5px 0 5px;
    margin: 0;
}

.button2 i {
    padding: 0 5px 0 5px;
    margin: 0;
}

.video-container {
    margin: 10px 0;
}

.upcoming-list {
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}

.upcoming-list li:first-child {
    position: sticky;
    top: 0;
}

/* ------------ footer ------------ */
.page-footer {
    background-color: rgb(95, 170, 222);
}