{% extends "base.html" %}

{% block content %}

<div class="parallax-container">
	<div class="parallax">
		<img src="{{ url_for('static', filename='/images/background.jpg') }}">
    </div>
		<div class="row container">
			<div class="section white">
				<h2>About Us</h2>

				<p>
                    Welcome to Karaokean! A collection of karaoke videos freely available from YouTube. This website provides a way to catalogue and order your favourite karaoke tunes into a playlist for you and you friends to enjoy. Like you favourite songs, dislike the ones you can't stand and put together your ultimate karaoke party playlist!

                    On this page you will see a list of the most liked songs currently available on our catalogue. If see one that's missing why not add a song to this list by clicking <a class="btn-small" href="url_for('addtrack')">here!</a>
				</p>
			</div>
		</div>
	</div>
	{% endblock %}