{% extends "base.html" %}

{% block content %}

<div class="parallax-container">
	<div class="parallax">
		<img src="{{ url_for('static', filename='/images/background.jpg') }}">
    </div>
		<div class="row container">
			<div class="section white">
				<h2>About Us</h2>

				<p>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, dolores vitae nisi eaque sit quidem
					quas
					fugit tenetur illum, libero consectetur ipsum dolorum impedit totam? Nulla aspernatur iure id
					libero!
				</p>
			</div>
		</div>
	</div>
	{% endblock %}