{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<form action="{{url_for('insert_genre')}}" method="POST" class="col s12 form-panel" novalidate>
        <h2>Add Genre</h2>
			<!-- Genre Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="genre_name" name="genre_name" type="text" class="validate" data-length="30" required>
					<label for="genre_name">Genre Name</label>
					<span id="genre_name_label" class="helper-text" data-error="Please select a genre a e.g. Rock" data-success="Valid Entry"></span>
				</div>
			</div>
			<!-- Button -->
			<div class="row">
				<!-- Add Track Button -->
				<div class="input-field col s6 center-align">
					<button class="btn-small waves-effect waves-light" type="submit" name="action">
                        Add<i class="material-icons right">add_circle</i>
                    </button>
				</div>


				<!-- Cancel Add Button -->
				<div class="input-field col s6 center-align">
					<a href="{{url_for('addtrack')}}" class="btn-small waves-effect waves-light">Cancel
						<i class="material-icons right">cancel</i></a>
				</div>

			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block validation_js %}
<script src="{{ url_for('static', filename='js/genre-validation.js') }}"></script>
{% endblock %}