{% extends "base.html" %}

{% block content %}
<div class="container">
	<h2>Add Track</h2>

	<div class="row">
		<form action="{{url_for('insert_track')}}" method="POST" class="col s12" novalidate>
			<!-- Track Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="track_name" name="track_name" type="text" class="validate" maxlength="125" required>
					<label id="track_name_label" for="track_name">Track Name</label>
					<span class="helper-text" data-error="Please enter the name of the track" data-success="&#10004;"></span>
				</div>
			</div>
			<!-- Artist Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="artist_name" name="artist_name" type="text" class="validate">
					<label for="artist_name">Artist Name</label>
				</div>
			</div>
			<!-- Date Picker -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">today</i>
					<input id="year" name="year" type="text" class="validate">
					<label for="year">Year</label>
				</div>
			</div>
			<!-- Genre Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="genre_name" name="genre_name" type="text" class="validate">
					<label for="genre_name">Genre Name</label>
				</div>
			</div>
			<!-- Lyrics link -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="lyrics_link" name="lyrics_link" type="text" class="validate">
					<label for="lyrics_link">Lyrics Link</label>
				</div>
			</div>
			<!-- Video link -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="video_link" name="video_link" type="text" class="validate" value="" required>
					<label id="video_link_label" for="video_link">Youtube Link</label>
					<span data-error="wrong" data-success="&#10004;"></span>
				</div>
			</div>
            <!-- Buttons -->
			<div class="row">
				<!-- Add Track Button -->

				<div class="input-field col s12 m6">
					<button class="btn-small waves-effect waves-light" type="submit" name="action">Add Track<i class="material-icons right">add_circle</i></button>
				</div>


				<!-- Cancel Add Button -->
				<div class="input-field col s12 m6">
					<a href="{{url_for('catalogue')}}" class="btn-small waves-effect waves-light" >Cancel Submission<i class="material-icons right">cancel</i></a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block validation_js %}
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}