{% extends "base.html" %}

{% block content %}
<div class="background-image">
	<div class="container">


		<div class="row">
			<form action="{{url_for('insert_track')}}" method="POST" class="col s12 form-panel " novalidate>
				<h2>Add Track</h2>
				<!-- Track Name -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">assignment</i>
						<input id="track_name" name="track_name" type="text" class="validate" data-length="125" required>
						<label id="track_name_label" for="track_name">Track Name</label>
						<span class="helper-text" data-error="Please enter the name of the track" data-success="Valid Entry"></span>
					</div>
				</div>
				<!-- Artist Name -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">assignment</i>
						<input id="artist_name" name="artist_name" type="text" class="validate" data-length="30" required>
						<label id="artist_name_label" for="artist_name">Artist Name</label>
						<span class="helper-text" data-error="Please enter the Artist name" data-success="Valid Entry"></span>
					</div>
				</div>
				<!-- Year -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">today</i>
						<input id="year" name="year" type="text" class="validate" pattern="[12][0-9][0-9][0-9]" maxlength="4" required>
						<label id="year_label" for="year">Year</label>
						<span class="helper-text" data-error="Please enter a valid year e.g. 1966" data-success="Valid Entry"></span>
					</div>
				</div>

				<!-- Genre -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">assignment</i>
						<select id="genre_name" name="genre_name" class="validate" required>
                        <option value="" disabled selected>Choose a genre</option>
                        {% for genre in genres %}                        
                            <option value="{{genre._id}}">{{genre.name}}</option>                  
                        {% endfor %}
                        <option value="add-new-genre">Add a new genre</option>
                    </select>
						<label id="genre_name_label" for="genre_name">Genre</label>
						<span class="helper-text" data-error="Please select a genre a e.g. Rock" data-success="Valid Entry"></span>
					</div>
				</div>

				<!-- Lyrics link -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">assignment</i>
						<input id="lyrics_link" name="lyrics_link" type="text" class="validate" required>
						<label id="lyrics_link_label" for="lyrics_link">Lyrics Link</label>
						<span class="helper-text" data-error="Please enter a valid youtube link e.g. https://www.azlyrics.com/lyrics/rickastley/nevergonnagiveyouup.html" data-success="Valid Link"></span>
					</div>
				</div>

				<!-- Video link -->
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">assignment</i>
						<input id="video_link" name="video_link" type="text" class="validate" required>
						<label id="video_link_label" for="video_link">Youtube Link</label>
						<span class="helper-text" data-error="Please enter a valid youtube link e.g. 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' or 'https://youtu.be/dQw4w9WgXcQ'" data-success="Valid Link"></span>
					</div>
				</div>

				<!-- Buttons -->
				<div class="row">
					<!-- Add Track Button -->

					<div class="input-field col s12 m6">
						<button class="btn-small waves-effect waves-light" type="submit" name="action">Add Track<i class="material-icons right">add_circle</i></button>
					</div>


					<!-- Cancel Add Button -->
					<div class="input-field col s12 m6">
						<a href="{{url_for('catalogue')}}" class="btn-small waves-effect waves-light">Cancel
							Submission<i class="material-icons right">cancel</i></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block new_genre %}
<script>
	$('#genre_name').change(function () {
        var selectedValue = $('select').val()
        // If the genre select box's value is equal to 'add-new-genre'
        if (selectedValue == 'add-new-genre') {
            // launch the addgenre.html page
            window.location.href = "{{url_for('addgenre')}}";
        }
    });
</script>
{% endblock %}

{% block validation_js %}
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}