{% extends "base.html" %}
{% block title %}Add Track | {% endblock %}
{% block content %}
<div class="background-image">
	<div class="container">
		<div class="row">
			<form action="{{url_for('insert_track')}}" method="POST" class="col s12 form-panel " novalidate>
				<h1>Add Track</h1>
				<!-- Song Name -->
				<div class="row form-row">
					<div class="input-field col s12">
						<i class="material-icons prefix">audiotrack</i>
						<input id="track_name" name="track_name" type="text" class="validate" data-length="20" required>
						<label id="track_name_label" for="track_name">Song Name</label>
						<span class="helper-text" data-error="Please enter the name of the track" data-success="Valid Entry"></span>
					</div>
				</div>
				<!-- Artist Name -->
				<div class="row form-row">
					<div class="input-field col s12">
						<i class="material-icons prefix">person</i>
						<input id="artist_name" name="artist_name" type="text" class="validate" data-length="30" required>
						<label id="artist_name_label" for="artist_name">Artist Name</label>
						<span class="helper-text" data-error="Please enter the Artist name" data-success="Valid Entry"></span>
					</div>
				</div>
				<!-- Year -->
				<div class="row">
					<div class="input-field col s12 m6 form-row">
						<i class="material-icons prefix">today</i>
						<input id="year" name="year" type="number" class="validate" pattern="[12][0-9][0-9][0-9]" maxlength="4" required>
						<label id="year_label" for="year">Year</label>
						<span class="helper-text" data-error="Please enter a valid year e.g. 1966" data-success="Valid Entry"></span>
					</div>
					<!-- Genre -->
					<div class="input-field col s12 m6 form-row">
						<i class="material-icons prefix">surround_sound</i>
						<select id="genre_name" name="genre_name" class="validate" required="required">
                        <option value="" disabled selected>Choose a genre</option>
                        {% for genre in genres %}                        
                            <option value="{{genre._id}}">{{genre.name}}</option>                  
                        {% endfor %}
                        <option value="add-new-genre">Add a new genre</option>
                    </select>
						<label id="genre_name_label" for="genre_name">Genre</label>
						<span id="genre-helper-text-valid" class="genre-text green-text hide">Valid Entry</span>
						<span id="genre-helper-text-invalid" class="genre-text red-text hide" >Please select a genre e.g. Rock</span>
					</div>
				</div>

				<!-- Lyrics link -->
				<div class="row form-row">
					<div class="input-field col s12">
						<i class="material-icons prefix">speaker_notes</i>
						<input id="lyrics_link" name="lyrics_link" type="url" class="validate" required>
						<label id="lyrics_link_label" for="lyrics_link">Lyrics Link</label>
						<span class="helper-text" data-error="Please enter a valid link to this songs lyrics. Try searching www.azlyrics.com" data-success="Valid Link"></span>
					</div>
				</div>

				<!-- Video link -->
				<div class="row form-row">
					<div class="input-field col s12">
						<i class="material-icons prefix">music_video</i>
						<input id="video_link" name="video_link" type="url" class="validate" required>
						<label id="video_link_label" for="video_link">Youtube Link</label>
						<span class="helper-text" data-error="Please enter a valid youtube link e.g. 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' or 'https://youtu.be/dQw4w9WgXcQ'" data-success="Valid Link"></span>
					</div>
				</div>

				<!-- Buttons -->
				<div class="row form-row">
					<!-- Add Track Button -->
					<div class="col s6 center-align">
						<button id="add-track" class="btn-small waves-effect waves-light" type="submit" name="action">Add Track<i class="material-icons right">add_circle</i></button>
					</div>

					<!-- Cancel Add Button -->
					<div class="col s6 center-align">
						<a href="{{url_for('catalogue')}}" class="btn-small waves-effect waves-light">Cancel<i class="material-icons right">cancel</i></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block validation_js %}
<script src="{{ url_for('static', filename='js/validation.js') }}"></script>
{% endblock %}
{% block messages_js %}
<script src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}