<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Karaokean</title>
	<link rel="icon" sizes="50x35" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">

	<!-- jQuery script loaded in the head section as scripts inside block content section require it to be loaded first -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="{{url_for('index')}}" class="brand-logo valign-wrapper">
					<span class="hide-on-med-and-down"><img class="logo" src="{{ url_for('static', filename='images/icon-white.png') }}" alt="microphone logo"></span>
					<span class="hide-on-large-only">
					<img class="logo-m-s" src="{{ url_for('static', filename='images/icon-white.png') }}" alt="microphone logo"></span>Karaokean</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					<li><a class="nav-text" href="{{ url_for('index')}}">Home</a></li>
					<li><a class="nav-text" href="{{ url_for('catalogue')}}">Catalogue</a></li>
					<li><a class="nav-text" href="{{ url_for('addtrack')}}">Add Song</a></li>
					<li><a class="nav-text" href="{{ url_for('genres')}}">Genres</a></li>
					<li><a class="nav-text" href="{{ url_for('playlist_page') }}">Playlist</a></li>
					{%  if 'username' in session %}
					<li><a class="btn-flat nav-text teal lighten-2">{{session['username']}}</a></li>
					<li><a class="waves-effect waves-light btn-small nav-text" href="{{ url_for('logout') }}">Logout</a>
					</li>
					{% else %}
					<li><a class="waves-effect waves-light btn-small nav-text"
							href="{{ url_for('loginpage') }}">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		<ul class="sidenav" id="mobile-demo">
			<li><a class="nav-text" href="{{ url_for('index')}}">Home</a></li>
			<li><a class="nav-text" href="{{ url_for('catalogue')}}">Catalogue</a></li>
			<li><a class="nav-text" href="{{ url_for('addtrack')}}">Add Song</a></li>
			<li><a class="nav-text" href="{{ url_for('genres')}}">Genres</a></li>
			<li><a class="nav-text" href="{{ url_for('playlist_page')}}">Playlist</a></li>
			{%  if 'username' in session %}
			<li><a class="btn-flat nav-text teal lighten-2">{{session['username']}}</a></li>
			<li><a class="waves-effect waves-light btn-small nav-text" href="{{ url_for('logout') }}">Logout</a>
			</li>
			{% else %}
			<li><a class="waves-effect waves-light btn-small nav-text" href="{{ url_for('loginpage') }}">Login</a></li>
			{% endif %}
		</ul>
	</header>

	<!-- Main Content Block -->
	<main>
		<!-- Flash Messages -->
		<!-- <div class="container">
			<div class="row">
				<div class="col s12"> -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <span id="flashToast" class="form-panel center-align">{{ message }}</span>
        {% endfor %}
        {% endif %}
        {% endwith %}
				<!-- </div>
			</div>
		</div> -->
		{% block content %}{% endblock %}
	</main>

	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<h5 class="white-text">Kareokan</h5>
					<p class="grey-text text-lighten-4">A freely available catalogue of Karaoke videos available from
						YouTube.</p>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				<div class="row center-align">
					© 2020 Darren Coppinger
				</div>
			</div>
		</div>
	</footer>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            $('select').formSelect();
            $('.modal').modal();
            $('input#track_name, input#artist_name,input#genre_name').characterCounter();
            $('.parallax').parallax();
        });
	</script>

	<!-- Launch Add New Genre Page -->
	{% block new_genre %}
	{% endblock %}

	<!-- Input form validation -->
	{% block validation_js %}
	{% endblock %}

    <!-- Flash Messages -->
	{% block messages_js %}
	{% endblock %}


	<!-- Youtube Iframe API -->
	{% block youtube_api %}
	{% endblock %}

	<!-- JS block -->
	{% block js %}
	{% endblock %}
</body>

</html>