{% extends "base.html" %} {% block content %}
<div class="row">
	<div class="col s12">
		<h2>Catalogue</h2>
	</div>
</div>
<!-- <div class="col s12 m8">
	<div class="video-container">
		<iframe src="https://www.youtube.com/embed/US0jUNjFgUg?autoplay=1"
				frameborder="0" allowfullscreen></iframe>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/US0jUNjFgUg?autoplay=1" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div> -->

{% if tracks_total > 0 %}
{% for track in tracks %}
<div class="row">
	<div class="col s12 m8">
		<div class="video-container">
			<iframe src="{{'https://www.youtube.com/embed/' ~ track.video ~ '?autoplay=1'}}" frameborder="0"
				allowfullscreen></iframe>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="panel">
			<div class="row">
				<div class="col s12">
					<form action="{{url_for('playlist_addto', track_id=track._id)}}" method="POST">
						<button type="submit" class="waves-effect waves-light btn-small button1">Add to
                                Playlist<i class="material-icons right">add</i></button>
					</form>
				</div>
			</div>
			<a href=""></a>
			<div class="row">
				<div class="col-button col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_up</i>Edit</a>
				</div>
				<div class="col-button col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_down</i>Delete</a>
				</div>
			</div>
			<div class="row">

				<div class="col s6">
					<form action="" method="">
						<a
							class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_up</i>Like</a>
					</form>
				</div>
				<div class="col s6">
					<form action="" method="">
						<a
							class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_down</i>Dislike</a>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
{% endfor %}
{% else %}
<p>No tracks available</p>
<p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}">here</a> </p>
{% endif %}

<!-- Pagination -->
<div class="row center-align">
	<ul class="pagination">
		<!-- Previous -->
		<li  class="waves-effect waves-light purple accent-1">
            <a href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=prev_url)}}">
				<i class="material-icons">chevron_left</i>
			</a>
		</li>

		<!-- Page Number -->
		{% for track_page, track_page_args in all_track_pages_id %}
		<li class="waves-effect waves-purple blue accent-1">
			<a href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=track_page_args)}}">{{ loop.index }}</a>
		</li>
		{% endfor %}

		<!-- Next -->
		<li class="waves-effect waves-light purple accent-1">
			<a href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=next_url)}}">
				<i class="material-icons">chevron_right</i>
			</a>
		</li>
	</ul>
</div>


<div class="row">

	<ul class="pagination">
		<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
		<li class="active"><a href="#!">1</a></li>
		<li class="waves-effect"><a href="#!">2</a></li>
		<li class="waves-effect"><a href="#!">3</a></li>
		<li class="waves-effect"><a href="#!">4</a></li>
		<li class="waves-effect"><a href="#!">5</a></li>
		<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
	</ul>
</div>
{% endblock %}