{% extends "base.html" %} {% block content %}
<div class="background-image">
	<div class="container ">
		<div class="row">
			<div class="col s12 ">
				<div class="section-heading"> Catalogue </div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<span>Sorting Options | </span>
				<a class="dropdown-trigger btn" href="#"
					data-target="dropdown"><span class="sort-description"></span><i class="material-icons">arrow_drop_down</i></a>
				<ul id="dropdown" class="dropdown-content">
					<li><a href="{{url_for('sort_by_newest')}}">Newest Tracks</a></li>
					<li><a href="{{url_for('sort_by_oldest')}}">Oldest Tracks</a></li>
					<li><a href="{{url_for('sort_by_likes')}}">Most Liked</a></li>
					<li><a href="{{url_for('sort_by_dislikes')}}">Most Disliked</a></li>
				</ul>
			</div>
		</div>

		{% if tracks_total > 0 %} {% for track in tracks %} <div class="row ">
			<div class="col s12 m8 info-row">
				<div class="video-container">
					<iframe src="{{'https://www.youtube.com/embed/' ~ track.video}}" frameborder="0"
						allowfullscreen></iframe>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="panel">
					<div class="info-panel">
						<div class="row info-row">
							<div class="col s12">
								<div class="song-title">{{track.name}} ({{track.year}})</div>
                                <div>by {{track.artist}}</div>
							</div>
						</div>
						<div class="row info-row">
							<div class="col s6">
								<div>Likes: {{track.likes}}</div>
							</div>
							<div class="col s6">
								<div>Dislikes: {{track.dislikes}}</div>
							</div>
						</div>
					</div>
					<div class="row info-row">
						<!-- ADD TO PLAYLIST button -->
						<div class="col s12">
							<button id="{{ track._id }}" class="waves-effect waves-light btn-small button1 btn-playlist-add">
                    Add to Playlist<i class="material-icons right">add</i>
                </button>
						</div>
					</div>

					<div class="row info-row">
						<!-- EDIT button -->
						<div class="col-button col s6">
							<a href="{{url_for('edittrack', track_id=track._id, page=page, sorting_order=sorting_order)}}"
								class="waves-effect waves-light btn-small button2">
								<i class="material-icons right">edit</i>Edit
							</a>
						</div>
						<!-- DELETE button -->
						<div class="col-button col s6">
							<a href="{{url_for('delete_track', track_id=track._id, page=page, sorting_order=sorting_order)}}"
								class="waves-effect waves-light btn-small button2">
								<i class="material-icons right">delete</i>Delete
							</a>
						</div>
					</div>
					<div class="row info-row">
						<!-- LIKE button -->
						<div class="col s6">
							<button id="{{ track._id }}" class="waves-effect waves-light btn-small button2 btn-like">
                    Like<i class="material-icons right">thumb_up</i>
                </button>
						</div>
						<!-- DISLIKE button -->
						<div class="col s6">
							<button id="{{ track._id }}" class="waves-effect waves-light btn-small button2 btn-dislike">
                    Dislike<i class="material-icons right">thumb_down</i>
                </button>
						</div>

					</div>
				</div>
			</div>
		</div>

		{% endfor %}
		{% else %}
		<p>No tracks available</p>
		<p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}">here</a> </p>
		{% endif %}


		<!-- Pagination -->
		<div class="row center-align">
			<ul class="pagination">
				<!-- Previous -->

				<li {% if prev_url < 0 %} class="disabled" {% else %} class="waves-effect waves-light purple accent-1"
					{% endif %}>
					<a
						href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=prev_url,sorting_order=sorting_order)}}">
						<i class="material-icons">chevron_left</i>
					</a>
				</li>

				<!-- <li>
            <a class="disabled" href="">
                <i class="material-icons">chevron_left</i>
            </a>
        </li> -->

				<!-- Page Number -->
				<!-- {% if all_track_pages == 1 %} class="disabled" {% else %} class="waves-effect waves-purple blue accent-1"
        {% endif %} -->
				{% for track_page, track_page_args in all_track_pages_id %}
				<li {% if track_page_args == page %} class="waves-effect waves-purple blue accent-1"
					{%else%}class="waves-effect waves-purple" {% endif %}>
					<a
						href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=track_page_args,sorting_order=sorting_order)}}">{{ loop.index }}</a>
				</li>
				{% endfor %}

				<!-- Next -->
				<li {% if next_url > tracks_total %} class="disabled" {% else %}
					class="waves-effect waves-light purple accent-1" {% endif %}>
					<a
						href="{{ url_for('catalogue', tracks=tracks, tracks_total=tracks_total, page=next_url,sorting_order=sorting_order)}}">
						<i class="material-icons">chevron_right</i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	{% endblock %}


	{% block js %}
	<script>
		$(".btn-like, .btn-dislike, .btn-playlist-add").on("click", function() {
        let urlFor;
        let toastMsg;
        let trackID = $(this).attr("id");  // get .btn ID (track._id)
        if ($(this).hasClass("btn-like")) {  // if clicking "LIKE" button
            // create url_for path
            urlFor = "{{ url_for('like', track_id='fakeID') }}".replace("fakeID", trackID);
            toastMsg = "You Like this Song!";
        } else if ($(this).hasClass("btn-dislike")) {  // if clicking "DISLIKE" button
            // create url_for path
            urlFor = "{{ url_for('dislike', track_id='fakeID') }}".replace("fakeID", trackID);
            toastMsg = "You Dislike this Song!";
        } else if ($(this).hasClass("btn-playlist-add")) {  // if clicking "ADD TO PLAYLIST" button
            urlFor = "{{ url_for('playlist_addto', track_id='fakeID') }}".replace("fakeID", trackID);
            toastMsg = "Song added to your Playlist!";
        };
        $.ajax({type: "POST", url: urlFor}).done(function () {  // ajax without page reload
            M.toast({html: toastMsg});  // flash message to user
        });
    });

    // This solution was inspired by https://github.com/Code-Institute-Submissions/dhamma1991-milestone-project-3/blob/master/templates/tracks.html
    if ('{{ sorting_order }}' == 1) {
            $('.dropdown-trigger .sort-description').text("Newest Tracks");
    } else if ('{{ sorting_order }}' == 2) {
        $('.dropdown-trigger .sort-description').text("Oldest Tracks");
    } else if ('{{ sorting_order }}' == 3) {
        $('.dropdown-trigger .sort-description').text("Most Liked");
    } else if ('{{ sorting_order }}' == 4) {
        $('.dropdown-trigger .sort-description').text("Most Disliked");
    }
	</script>
	{% endblock %}