{% extends "base.html" %}

{% block content %}

<h2>Edit Track</h2>

<div class="row">
	<form action="{{url_for('edit_track')}}" method="POST" class="col s12">

		<!-- Track Name -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="track_name" name="track_name" type="text" class="validate" value="{{tracks.name}}">
				<label for="track_name">Track Name</label>
			</div>
		</div>
		<!-- Artist Name -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="artist_name" name="artist_name" type="text" class="validate" value="{{tracks.artist}}">
				<label for="artist_name">Artist Name</label>
			</div>
		</div>
        <!-- Date Picker -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">today</i>
				<input id="year" name="year" type="text" class="validate" value="{{tracks.year}}">
				<label for="year">Year</label>
			</div>
		</div>
		<!-- Genre Name -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="genre_name" name="genre_name" type="text" class="validate" value="{{tracks.genre}}">
				<label for="genre_name">Genre Name</label>
			</div>
		</div>
        <!-- Lyrics link -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="lyrics_link" name="lyrics_link" type="text" class="validate" value="{{tracks.lyrics}}">
				<label for="lyrics_link">Lyrics Link</label>
			</div>
		</div>
        <!-- Video link -->
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="video_link" name="video_link" type="text" class="validate" value="{{tracks.video}}">
				<label for="video_link">Video Link</label>
			</div>
		</div>

		<!-- Button -->
		<div class="row">
			<div class="input-field col s12">
				<button class="btn waves-effect waves-light" type="submit">Add Track
                <i class="material-icons right">playlist_add</i>
            </button>
			</div>
		</div>

    </form>
</div>
{% endblock %}