{% extends "base.html" %}

{% block content %}
<div class="background-image">
	<div class="container">
		<div class="row">
			<div class="col s12 m6">
				<div class="background">
					<div class="info-heading">About Karaokean</div>
					<p>
						Welcome to Karaokean! A collection of karaoke videos freely available from YouTube. This website
						provides a way to catalogue and order your favourite karaoke tunes into a playlist for you and
						you
						friends to enjoy. Like you favourite songs, dislike the ones you can't stand and put together
						your
						ultimate karaoke party playlist!
					</p>
					<p>
						On this page you will see a list of the most liked songs currently available on our catalogue.
						If
						see one that's missing why not add a song to this list by clicking the button below!
					</p>
                    <div class="center-align">
                        <p>
                            <a class="waves-effect waves-light btn-large btn-large-alt" href="{{url_for('addtrack')}}">Add
                                Song!</a>
                        </p>
                    </div>
				</div>
			</div>

			<div class="col s12 m6">
				<ul class="collection with-header">
					<li class="collection-header">
						<b>Most Liked Songs</b><span class="secondary-content">#</span>
					</li>
					{% for track in tracks %}
					<li class="collection-item">{{loop.index}}. {{track.name}} ({{track.year}})
						<span class="secondary-content">{{track.likes}}</span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block messages_js %}
<script src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}