{% extends "base.html" %}

{% block content %}
<div class="background-image">
	<div class="container">
		<div class="row">
			<div class="about col s12 m6">
				<div class="info-heading">About Karaokean</div>
				<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo delectus voluptatibus cumque
					quaerat
					nesciunt vero sed voluptas pariatur ullam esse sint accusamus animi debitis, architecto vel
					voluptates
					labore veritatis aut?</p>
				<!-- <img src="{{ url_for('static', filename='images/background.jpg') }}" alt="">
		</div> -->
			</div>
			<div class="col s12 m6">

				<ul class="collection with-header">
					<li class="collection-header">
						<div class="info-heading"><b>Most Liked Songs</b><span class="secondary-content">#</span></div>
					</li>
					{% for track in tracks %}
					<li class="collection-item">{{loop.index}}. {{track.name}} ({{track.year}})
						<span class="secondary-content">{{track.likes}}</span></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}