{% extends "base.html" %}

{% block content %}

<!-- {%  if 'username' in session %}
  <p>You are logged in as {{session['username']}}</p>
{% endif %} -->


<div class="row">
	<h2>Login</h2>
	<form method="POST" action="{{ url_for('login') }}">
		<div class="form-group">
			<!-- <label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> 
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>  -->
			<label for="exampleInputEmail1">Username</label>
			<input type="text" class="form-control" name="username" placeholder="Username">

		</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Remember me</label>
				</div>
				<button type="submit" class="btn btn-primary">Login</button>
				<br>
				<div>
					Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.
				</div>
	</form>
</div>

{% endblock %}