{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<form method="POST" action="{{ url_for('login') }}" class="form-panel col s12">
			<h1>Login</h1>
            <!-- username input -->
			<div class="row form-row">
				<div class="input-field col s12 center-align">
					<i class="material-icons prefix">person</i>
					<input type="text" class="form-control" name="username" id="username" placeholder="Username">
					<label for="username">Username</label>
				</div>
			</div>
            <!-- password input -->
			<div class="row form-row">
				<div class="input-field col s12 center-align">
					<i class="material-icons prefix">vpn_key</i>
					<input type="password" class="form-control" name="password" id="password" placeholder="Password">
					<label for="password">Password</label>
				</div>
			</div>
            <!-- Login Button -->
			<div class="row form-row">
				<div class="input-field col s12 center-align">
					<button type="submit" class="btn btn-large">Login</button>
				</div>
			</div>
            <!-- Register for an account -->
			<div class="row form-row">
				<div class="input-field col s12 center-align">
					<div>Don't have an account? <a href="{{ url_for('register') }}">Sign up here</a>.</div>
				</div>
			</div>
		</form>
	</div>
</div>

{% endblock %}

{% block messages_js %}
<script src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}