       return 'True'
    #     # if check_password_hash(login_user['password'], request.form['password']):
    #     #     session['username'] = request.form['username']
    #     #     return redirect(url_for('index'))
    #     # return 'Invalid username/password combination'


    
# @app.route('/<password>')
# def index(password):
#     hashed_value = generate_password_hash(password)
#     stored_value = 'pbkdf2:sha256:150000$S4lF9VaW$5f7423d23f40d3c9c04d8ab0286bb9b93089e1b12dc6fa3594b01b54bbd6bf52'
#     result = check_password_hash(stored_value, password)
#     return str(result)


    <!-- {% if tracks_total > 0 %} -->

        <!-- <iframe width="560" height="315" src="{{tracks.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <!-- {% else %}

        <p>No tracks available</p>
        <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}" >here</a> </p>

        {% endfor %}
    {% endif %} -->


        for track in track:
        embeddedvideo= track.video.replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') 

<iframe width="560" height="315" src="https://www.youtube.com/embed/Ni94IhE1WeE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            {% if tracks_total > 0 %}
        {% for track in tracks %}    
           
            <iframe width="560" height="315" data-embed="{{ track.video|replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <p>No tracks available</p>
            <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}" >here</a> </p>
        {% endfor %}
    {% endif %}


    src="{{track.video|replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') }}"

    <!-- <iframe width="560" height="315" data-embed="US0jUNjFgUg" frameborder="0"
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->



{% if tracks_total > 0 %}
    {% for track in tracks %}
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col s9">
            <iframe width="560" height="315"
                src="{{track.video|replace('https://www.youtube.com/watch?v=','https://www.youtube.com/embed/')}}"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col s3 panel">
                <p>Add to Playlist <a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a></p>
        </div>
    </div>
    <!-- </div> -->

    {% else %}
        <p>No tracks available</p>
        <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}">here</a> </p>
    {% endfor %}
{% endif %}

<a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>

{% extends "base.html" %} {% block content %}
<div class="row">
	<div class="col s12">
		<h2>Catalogue</h2>
	</div>
</div>

<div class="row">
	<div class="col s12 m8">
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/Ni94IhE1WeE" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col s12 m4">
		<div class="panel">
			<div class="row">
				<div class="col s12">
					<a class="waves-effect waves-light btn-small button1">Add to
						Playlist<i class="material-icons right">add</i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-button col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_up</i>Edit</a>
				</div>
				<div class="col-button col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_down</i>Delete</a>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_up</i>Like</a>
				</div>
				<div class="col s6">
					<a
						class="waves-effect waves-light btn-small button2"><i class="material-icons right">thumb_down</i>Dislike</a>
				</div>
			</div>
		</div>
	</div>
</div>


{{ users.playlist }}
for x in range(len(a)): 
    print a[x], 


    <!--Youtube API Script-->
<script src="https://www.youtube.com/iframe_api"></script>
<!--My JavaScript Script-->
<!-- <script type="text/javascript" src="assets/js/youtube-player-api.js"></script> -->
<script>
    
    // create youtube player
    var player;
    function onYouTubePlayerAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'Ni94IhE1WeE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
    }

    // autoplay video
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            alert('done');
        }
    }
    
</script>


//   function changeBorderColor(playerStatus) {
//     var color;
//     if (playerStatus == -1) {
//       color = "#37474F"; // unstarted = gray
//     } else if (playerStatus == 0) {
//       color = "#FFFF00"; // ended = yellow
//     } else if (playerStatus == 1) {
//       color = "#33691E"; // playing = green
//     } else if (playerStatus == 2) {
//       color = "#DD2C00"; // paused = red
//     } else if (playerStatus == 3) {
//       color = "#AA00FF"; // buffering = purple
//     } else if (playerStatus == 5) {
//       color = "#FF6DOO"; // video cued = orange
//     }
//     if (color) {
//       document.getElementById('existing-iframe-example').style.borderColor = color;
//     }
//   }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data == 0) {            
            // alert('done');
            player.loadVideoById ('{{users.playlist[1]}}');
        }
    }


    			<!-- {% for song in users.playlist %}
			{% if song==users.playlist[0] %}-->
            <p>users.playlist[0]</p>
			 <iframe src="https://www.youtube.com/embed/3jWRrafhO7M&t=7516s" frameborder="0" allow="autoplay"
				allowfullscreen></iframe>
			<!--{% endif %} {{track.video|replace('https://www.youtube.com/watch?v=','https://www.youtube.com/embed/')}}
			{% endfor %} -->

            var form = document.getElementsByTagName('form')[0],
    track_name = document.getElementById('track_name'),
    video_link = document.getElementById('video_link');
/* Below solution found here on Stackoverflow: https://stackoverflow.com/questions/28735459/how-to-validate-youtube-url-in-client-side-in-text-box */
function validateYouTubeUrl() {
    var url = $('#video_link').val();

    if (url != undefined || url != '') {
        var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
        var match = url.match(regExp);
        if (match && match[2].length == 11) {
            // Do anything for being valid
            // if need to change the url to embed url then use below line            
            //$('#videoObject').attr('src', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=1&enablejsapi=1');
            // alert(match[2]);
            $('#video_link').attr('value', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=1');
        } else {
            $("#video_link").removeClass("valid");
            $("#video_link").addClass("invalid");
            $("#video_link").addClass("active");
            $("#video_link").prop("aria-invalid", "true");
            event.preventDefault();
        }
    }
}

form.addEventListener("submit", function (event) {
    if (!track_name.validity.valid) {
        $("#track_name").removeClass("valid");
        $("#track_name").addClass("invalid");
        $("#track_name_label").addClass("active");
        $("#track_name").prop("aria-invalid", "true");
        event.preventDefault();
    }
    
    validateYouTubeUrl();

}, false);



    # video = request.form.get('video_link')
    # youtube_regex = (r'(https?://)?(www\.)?''(youtube|youtu|youtube-nocookie)\.(com|be)/''(watch\?v=|embed/|v/|.+\?v=)?([^&=%\?]{11})')

    # youtube_regex_match = re.match(youtube_regex, video)
    # print(youtube_regex_match[2])


        # tracks.insert_one(request.form.to_dict())
    # video=request.form.get('video_link')
    # video.replace('https://www.youtube.com/watch?v=','https://www.youtube.com/embed/')
    # video_auto="?autoplay=1"
    # new_video=video + video_auto


    # @app.route('/playlist_delete/<track_id>', methods=['POST'])
# def playlist_delete(track_id):
#     """ Delete the _id of a video link to a list called playlist"""
#     users = mongo.db.users
#     username = session['username']
#     the_user = mongo.db.users.find_one({"name": username})
#     pl = the_user["playlist"]
#     mongo.db.categories.remove({'_id': ObjectId(category_id)})
#     users.find_one_and_update({"name": username},
#         {"$pull": {'playlist': track_id}})
#     return redirect(url_for('catalogue'))




{% extends "base.html" %} {% block content %}
<div class="row">
	<div class="col s12">
		<h2>Playlist</h2>
	</div>
</div>

<!-- <div class="row">
	<div class="col s12">
		<iframe width="640" height="360" src="https://www.youtube.com/embed/3jWRrafhO7M?autoplay=1" frameborder="0" ></iframe>
	</div>
</div> -->

<div class="row">
	<div class="col s12 m8">
		<div class="video-container">
            <div id="existing-iframe-example"></div>
			<!-- <iframe width="560" height="315"
				src="{{'https://www.youtube.com/embed/' ~ users.playlist[0] ~ '?autoplay=1'}}" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe> -->
			<!-- <iframe id="existing-iframe-example" width="640" height="360" src="{{'https://www.youtube.com/embed/' ~ users.playlist[0] ~ '?autoplay=1'}}" allow="autoplay" frameborder="0" style="border: solid 4px #37474F"></iframe> -->
		</div>
	</div>
	<div class="col s12 m4">
		<ul class="collection with-header">
			<li class="collection-header">
				<h5>Upcoming songs</h5>
			</li>
			<br>
            {% for song in users.playlist %}
                {% if song !=users.playlist[0] %}
			<li class="collection-item">{{song}}</li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>


<!--Youtube API Script-->
<!-- <script src="https://www.youtube.com/iframe_api"></script> -->
<!--My JavaScript Script-->
<!-- <script type="text/javascript" src="assets/js/youtube-player-api.js"></script> -->
<script type="text/javascript">
  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/player_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('existing-iframe-example', {
        height: '360',
        width: '640',
        videoId: '{{users.playlist[0]}}'
        playerVars: { 'autoplay': 1, 'controls': 0 },
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }
  function onPlayerReady(event) {
    document.getElementById('existing-iframe-example').style.borderColor = '#FF6D00';
  }

    // when video ends
    function onPlayerStateChange(event) {        
        if(event.data == 0) {            
            player.loadVideoById ('{{users.playlist[1]}}');
        }
    }
</script>

{% endblock %}



    # tracks = mongo.db.tracks.find()
    # all_tracks = mongo.db.tracks
    # tracks_total = all_tracks.count()

    # limit = int(request.args['limit'])
    # offset =  int(request.args['offset'])

    # page_args = int(args("page")) if args("page") else 1
    # limit_args = int(args("limit")) if args("limit") else int(args("limit")) if args("limit") else 5


			<!-- Genre Name -->
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">assignment</i>
					<input id="genre_name" name="genre_name" type="text" class="validate" value="{{track.genre}}">
					<label for="genre_name">Genre Name</label>
				</div>
			</div>



     # ---------- SORTING ORDER ----------

    if sorting_order == 2:
        # Date added Oldest Tracks
        ##starting_id = all_tracks.find().sort('_id', pymongo.DESCENDING)
        ##last_id = starting_id[page_args]['_id']
        ##tracks = all_tracks.find({'_id': {'$lte': last_id}}).sort('_id', pymongo.DESCENDING).limit(limit_args)
        tracks = all_tracks.find().sort(
            '_id', pymongo.DESCENDING).skip(page_args).limit(limit_args)

    elif sorting_order == 3:
        # Most Liked Tracks
        ##starting_id = all_tracks.find().sort('likes', pymongo.ASCENDING)
        ##print('starting like'+ str(starting_id))
        ##last_id = starting_id[page_args]['likes']
        ##print('last like'+ str(last_id))
        ##tracks = all_tracks.find({'likes': {'$gte': last_id}}).sort('likes', pymongo.ASCENDING).limit(limit_args)
        tracks = all_tracks.find().sort(
            'likes', pymongo.DESCENDING).skip(page_args).limit(limit_args)
    elif sorting_order == 4:
        # Most Disliked Tracks
        starting_id = all_tracks.find().sort('dislikes', pymongo.ASCENDING)
        last_id = starting_id[page_args]['dislikes']
        tracks = all_tracks.find({'dislikes': {'$gte': last_id}}).sort(
            'dislikes', pymongo.DESCENDING).limit(limit_args)
    else:
        # Date added Newest Tracks
        ##starting_id = all_tracks.find().sort('_id', pymongo.ASCENDING)
        ##last_id = starting_id[page_args]['_id']
        # tracks = all_tracks.find({'_id': {'$gte': last_id}}).limit(limit_args)
        # tracks = all_tracks.find({'_id': {'$gte': last_id}}).limit(limit_args)
        ##tracks = all_tracks.find({'_id': {'$gte': last_id}}).sort('_id', pymongo.ASCENDING).limit(limit_args)
        tracks = all_tracks.find().sort(
            '_id', pymongo.ASCENDING).skip(page_args).limit(limit_args)

     {% for song in users.playlist %}
        playList.push("{{song}}");
    {% endfor %}


                {% for id, song in playlist %}
                <li class="collection-item" id="{{id}}">
                    {{loop.index}}. {{song}}
                    <span class="current red-text"></span>
                </li>
			{% endfor %}

    users.update({"name": username}, {"$unset" : {playlist_index : 1 }})
    users.update({"name"}, {"$pull" : {playlist_index : "null" }})

    users.find_one_and_update({"name": username},{"$pull": {'playlist': { "$in": [ playlist_id, index ] } }})

    users.find_one_and_update(
        {"name": username}, {"$push": {'playlist': [track_id, user_playlist_len]}})


            # users.find_one_and_update({"name": username},{"$pull": {'playlist': [ playlist_id, index ] }})
    # users.find_one_and_update({"name": username},{"$pull": {'playlist': playlist_id }})

from playlist play
            # for ytv in the_user["playlist"]:
        #      playlist_ytv_ids.append(ytv)

        # playlist_ids = [] # working playlist code
        # playlist_names = []
        # for ytv in the_user["playlist"]:
        #     playlist_ids.append(ytv)

        # playlist_ids = [] # working playlist code
        # playlist_names = []
        # for ytv in the_user["playlist"]:
        #     playlist_ids.append(ytv)
        # for pl_name in the_user["playlist_name"]:
        #     playlist_names.append(pl_name)

        # the_track = mongo.db.tracks.find_one({"_id": ObjectId(track_id)})

        # ytv = the_track["video"]
        # pl_name = the_track["name"]

        # users.find_one_and_update(
        #     {"name": username}, {"$push": {'playlist': ytv, 'playlist_name': pl_name}})

        # tracks = mongo.db.tracks.find()
        # pl = the_user.playlist
        # the_track = mongo.db.tracks.find_one({"video": pl})

        # return render_template('playlist_page.html', users=the_user, playlist=zip(playlist_ids, playlist_names))

        for idx, playlist_track_id, track_id in enumerate(the_user["playlist"]):


    removed from delete playlist

        users.update({"name": username}, {"$unset": {"playlist.1" : 1 }})
    users.update({"name": username}, {"$pull" : {"playlist" : "null" }})

    <script type="text/javascript">
	// create playList array with each song ID
let playList = []
{% for id in playlist %}
    playList.push("{{id}}");
{% endfor %}

var tag = document.createElement('script');
tag.id = 'iframe-demo';
tag.src = 'https://www.youtube.com/iframe_api';
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

var player;

function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
        videoId: playList[0],
        playerVars: {
            'autoplay': 1,
            'controls': 1
        },
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

function onPlayerReady(event) {
    document.getElementById('player').style.border = '5px solid #e487d8';
}

function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.ENDED) {
        $("#" + playList[0]).hide(); // hide the first song from 'upcoming' list
        playList.shift(); // remove first song from playList array
        if (playList.length != 0) {
            // play the next video in the playlist
            player.loadVideoById(playList[0]);
        } else {
            // auto-call @app.route('/catalogue')
            window.location.href = "/catalogue";
        }
    } else {
        // show which song is currently playing
        $("#" + playList[0] + " .current").text("(Currently Playing)");
    }
}
</script>