       return 'True'
    #     # if check_password_hash(login_user['password'], request.form['password']):
    #     #     session['username'] = request.form['username']
    #     #     return redirect(url_for('index'))
    #     # return 'Invalid username/password combination'


    
# @app.route('/<password>')
# def index(password):
#     hashed_value = generate_password_hash(password)
#     stored_value = 'pbkdf2:sha256:150000$S4lF9VaW$5f7423d23f40d3c9c04d8ab0286bb9b93089e1b12dc6fa3594b01b54bbd6bf52'
#     result = check_password_hash(stored_value, password)
#     return str(result)


    <!-- {% if tracks_total > 0 %} -->

        <!-- <iframe width="560" height="315" src="{{tracks.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

        <!-- {% else %}

        <p>No tracks available</p>
        <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}" >here</a> </p>

        {% endfor %}
    {% endif %} -->


        for track in track:
        embeddedvideo= track.video.replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') 

<iframe width="560" height="315" src="https://www.youtube.com/embed/Ni94IhE1WeE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            {% if tracks_total > 0 %}
        {% for track in tracks %}    
           
            <iframe width="560" height="315" data-embed="{{ track.video|replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% else %}
            <p>No tracks available</p>
            <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}" >here</a> </p>
        {% endfor %}
    {% endif %}


    src="{{track.video|replace('https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/') }}"

    <!-- <iframe width="560" height="315" data-embed="US0jUNjFgUg" frameborder="0"
	allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->



{% if tracks_total > 0 %}
    {% for track in tracks %}
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col s9">
            <iframe width="560" height="315"
                src="{{track.video|replace('https://www.youtube.com/watch?v=','https://www.youtube.com/embed/')}}"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col s3 panel">
                <p>Add to Playlist <a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a></p>
        </div>
    </div>
    <!-- </div> -->

    {% else %}
        <p>No tracks available</p>
        <p>Add a karaoke track to the catalogue <a href="{{url_for('register')}}">here</a> </p>
    {% endfor %}
{% endif %}

<a class="btn-floating btn-medium waves-effect waves-light red"><i class="material-icons">add</i></a>