       return 'True'
    #     # if check_password_hash(login_user['password'], request.form['password']):
    #     #     session['username'] = request.form['username']
    #     #     return redirect(url_for('index'))
    #     # return 'Invalid username/password combination'


    
# @app.route('/<password>')
# def index(password):
#     hashed_value = generate_password_hash(password)
#     stored_value = 'pbkdf2:sha256:150000$S4lF9VaW$5f7423d23f40d3c9c04d8ab0286bb9b93089e1b12dc6fa3594b01b54bbd6bf52'
#     result = check_password_hash(stored_value, password)
#     return str(result)