{% extends "base.html" %}
{% block title %}Playlist Editor |{% endblock %}
{% block content %}
<div class="background-image">
	<div class="container">
		{%  if 'username' in session %}
            {%  if playlist %}
                <div class="row">
                    <div class="col s12">
                        <div class="section-heading">Playlist</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h3>Your Playlist</h3>
                            </li>
                            {% for idx, track_id, name in playlist_names %}
                            <!-- Cycle through timestamp ids, track_ids, and track names -->
                            <li class="collection-item" id="{{idx}}">
                                {{loop.index}}. {{name}}
                                <a href="{{url_for('playlist_delete', playlist_id=idx, track_id=track_id)}}"
                                    class="btn-small btn-alt waves-effect waves-light right"><span class="hide-on-small-only">Remove<i class="material-icons right">cancel</i></span><i class="material-icons show-on-medium-and-up">cancel</i></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Play Playlist Button -->
                <div class="row">
                    <div class="col s12">
                        <div class="center-align">
                            <a href="{{url_for('playlist_play')}}" class="btn-large waves-effect waves-light">Play
                                Playlist<i class="material-icons right">play_circle_filled</i></a>
                        </div>
                    </div>
                </div>
            {% else %}
                <!-- If no songs in playlist clause -->
                <div class="row">
                    <div class="col s12">
                        <div class="section-heading">Playlist</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 background">
                        <div class="info-heading">There are no songs in your playlist!</div>
                        <p>To add songs your playlist visit to the catalogue pag, by pressing the button below, and clicking the
                            "Add to playlist" button beside your favourite songs.</p>
                        <br>
                        <!-- Catalogue Button -->
                        <div class="center-align">
                            <p><a class="waves-effect waves-light btn-large btn-large-alt"
                                    href="{{ url_for('catalogue') }}">Catalogue Page</a></p>
                        </div>
                    </div>
                </div>
            {% endif %}
		{% else %}
            <!-- If user is not signed into an account -->
            <div class="row">
                <div class="col s12">
                    <div class="section-heading">Playlist</div>
                </div>
            </div>
            <div class="background">
                <div class="row">
                    <div class="col s12 center-align">
                        <div class="info-heading">You aren't signed into an account!</div>
                        <div>
                            <p>To build your own playlist either create your own account by click the REGISTER button below
                                or
                                Login
                                to your accoun by clicking the LOGIN button.</p>
                        </div>
                    </div>
                    <!-- Register Button -->
                    <div class="row">
                        <div class="col s6">
                            <div class="center-align">
                                <p><a class="waves-effect waves-light btn-large btn-large-alt"
                                        href="{{ url_for('register') }}">REGISTER</a></p>
                            </div>
                        </div>
                        <!-- Login Button -->
                        <div class="col s6">
                            <div class="center-align">
                                <p><a class="waves-effect waves-light btn-large btn-large-alt"
                                        href="{{ url_for('login') }}">LOGIN</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	{% endif %}
</div>
{% endblock %}